.register-bac{
    background: url("../img/login.jpg") no-repeat;
    background-size: cover;
}
.register-mid{
    margin-left: 20%;
    margin-top: 300px;
    width: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    padding-bottom: 5px;
}
.register-title{
    line-height: 60px;
}
.register-ok{
    font-size: 20px;
    line-height: 34px;
    color: #5cb85c;
}
.register-remove{
    font-size: 20px;
    line-height: 34px;
    color: #b92c28;
}
.register-bu{
    margin-left: 134px;

}
#login{
    cursor: pointer;
}