.welcome-bac{
    background: url("../img/welcome.jpg") no-repeat;
    background-size: cover;
}
.welcome-con{
    padding-top: 20px;
}
.welcome-fright{
    float: right;
}
.container{
    background-color: #ffffff;
    margin-top: 44px;
    border-radius: 20px;
}
.welcome-mid{
    height: 470px;
}
